@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .main {
    margin-left: 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    width: 80px;
  }
}

@media (min-width: 1025px) {
  .sidebar {
    width: 120px;
  }
  .main {
    margin-left: 120px;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

.w3-sidebar {
  width: 120px;
  background: #222;
}

#main {
  margin-left: 120px;
}

@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.profile {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.profile:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.profile img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  object-fit: cover;
}
.profile p {
  margin: 5px 0;
}
.profile span {
  font-weight: bold;
  color: #f39c12;
}

.gallery-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  max-width: 1000px;
  width: 100%;
  padding: 10px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Mengatur gambar ke tengah */
  gap: 15px; /* Spasi antar gambar */
}

.gallery-item {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 200px; /* Lebar gambar */
  height: auto; /* Menjaga rasio gambar */
  margin: 10px; /* Spasi antar gambar */
}

.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

